.body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 1px 1px 5px 1px;
}

.header,
.footer,
.content {
  width: 100%;
  max-width: 1024px;
}

.header {
  padding: 15px;
  text-align: center;
}

.header h2 {
  font-size: 29px;
  color:darkslateblue;
}

.header .favicon {
  width: 22px;
  height: 22px;
}

.footer {
  text-align: center;
  padding: 15px;
}

.content {
  display: flex;
  justify-content: center;
}

.board-cover {
  width: 100%;
  max-width: 650px;
}

.board {
  margin-top: 15px;
  width: 100%;
  max-width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.item {
  width: 90%;
  height: 100px;
  background-color: rgb(227, 227, 227);
  background-size: cover;
  border: 1px rgb(229, 229, 229) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

.item:hover {
  background-color: rgb(208, 206, 206);
}

.item-image-cover {
  width: 100%;
  height: 100%;
  background-color: bisque;
}

.score-board-cover {
  max-width: 637px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px;
}

.score-board {
  padding: 11px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.score-board button {
  background-color:thistle;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 3px;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(26, 25, 25, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color:darkmagenta;
}

.result-window {
  border: 5px red ridge;
  background-color: white;
  width: 60%;
  min-height: 30%;
  padding: auto;
  font-size: 3em;
  font-weight: 700;
}

.result-window div {
  margin-top: 15px;
  text-align: center;
}

.result-window button {
  background-color: azure;
  color:darkcyan;
  padding: 5px;
  font-size: 17px;
  border: 1px gray solid;
  border-radius: 5px;
  cursor: pointer;
}

.your-score {
  font-size: 0,5em;
  color:chocolate;
  text-decoration: underline;
}

/* Helper classes */
.bg-pink {
  background-color: lightpink;
}

.bg-lightblue {
  background-color:lightblue;
}

@media screen and (max-width: 556px) {
  .header,
  .footer,
  .content {
    width: 100%;
    max-width: 550px;
  }

  .board {
    margin-top: 15px;
    max-width: 530px;
    gap: 9px;
  }

  .item {
    width: 95%;
  }

  .item-image {
    max-width: 90%;
  }

  .result-window {
    width: 90%;
    padding-top: 35px;
    font-size: 2em;
    font-weight: 700;
  }
}
